<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <input type="hidden" id="session-url" value=<%=url %>>
    <input type="hidden" id="offer-sdp" value='<%=JSON.stringify(offer.offer) %>'>
    <input type=" hidden" id="offer-index" value=<%=offer.offerIndex %>>
</head>

<body>
    <h1>Loadingggg!!!!</h1>
</body>

</html>